/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie-card {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 10px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie-card h3 {
  font-size: 18px;
  margin-top: 10px;
}

.movie-card p {
  font-size: 16px;
}

.movie-card a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}

.movie-card a:hover {
  text-decoration: underline;
}
